

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'qshock/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'qshock/bootstrap-theme.min.css' %}" />
<link rel="stylesheet" href="{% static 'qshock/style.css' %}">


<div class="page-header">
    <h1>Welcome Responder {{responder_id}}!!!</h1>
</div>




<h2> Cases you (responder {{responder_id}}) need to answer </h2>


<div class="container-fluid">
{% if case_list_not_responded %}
    <ul class="list-group">
    {% for case in case_list_not_responded %}
        <li class="list-group-item"><a href="{% url 'qshock:detail' case.id %}"> Case ID:{{ case.id }} (Subject {{case.subject_id}}, on {{case.occurrence_date}}) </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>All cases are responded.</p>
{% endif %}
</div>

<h2> Cases you answered </h2>

<div class="container-fluid">
{% if case_list_responded %}
    <ul class="list-group">
    {% for case in case_list_responded %}
        <li class="list-group-item"><a href="{% url 'qshock:detail' case.id %}"> Case ID:{{ case.id }} (Subject {{case.subject_id}}, on {{case.occurrence_date}}) </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No responded cases are available.</p>
{% endif %}
</div>

